# IoT Client
BASE_URL=
APP_ID=

# Server
PORT=3000
HOST=0.0.0.0

# JWT
JWT_SECRET=

# Admin
INITIAL_ADMIN_PASSWORD=

# Database
DATABASE_URL=

# Weather (Don't forget to replace with actual values in production)
OPENWEATHER_API_KEY=
WEATHER_LAT=39.9042
WEATHER_LNG=116.4074
WEATHER_LOCATION=Beijing

# Email configuration (Don't forget to replace with actual values in production)
SMTP_HOST=smtp.163.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=true

# OAuth (Don't forget to replace with actual values in production)
WECHAT_APP_ID=
WECHAT_APP_SECRET=
FEISHU_APP_ID=
FEISHU_APP_SECRET=
